[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
#
python-dotenv = "*"
#
SQLAlchemy = "*"
PyMySQL = "*"  # ref. https://stackoverflow.com/a/71730129/248616


[dev-packages]

[requires]
python_version = "3.8"
